[user]
	email = zhuo1angT@Outlook.com
	name = Zhuoran He

[init]
	defaultBranch = main

[sendemail]
    confirm = auto
    smtpServer = smtp.office365.com
    smtpServerPort = 587
    smtpEncryption = tls
    smtpUser = zhuo1angT@outlook.com

